    <h1>User Info</h1>
      <div><%= attachment_image_tag current_user, :image, :fill, 100, 100, format:'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
      </div>
      <table class="table">
        <tbody>
          <tr>
            <th>name</th>
            <th><%= current_user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= current_user.introduction %></th>
          </tr>
        </tbody>
      </table>
      <%= link_to '',edit_user_path(current_user.id),class: "btn btn-block btn-default glyphicon glyphicon-wrench edit_user_#{current_user.id}" %>
    <h1>New book</h1>
      <%= form_for(book, url: books_path)do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title, class:"form-control book_title"%>
        <%= f.label :opinion %>
        <%= f.text_area :opinion, class:"form-control book_body" %>
        <%= f.submit class: "btn btn-block btn-primary" %>
      <% end %>
